body {
    background-color: gray;
    text-align: center;
}

#stopwatch {
    font-size: 5rem;
}

#start,
#stop,
#reset {
    text-align: center;
    border: solid 2px #3E383F;
    border-radius: 5px;
    padding: 16px 40px 16px;
    cursor: pointer;
}

#start {
    background-color: cadetblue;
}

#stop {
    background-color: red;
}

#reset {
    background-color: #564E58;
}

h2 {
    font-size: 50px;
}